@define-mixin small {
	@media (min-width: 530px){
		@mixin-content;
	}
}

@define-mixin medium {
	@media (min-width: 800px){
		@mixin-content;
	}
}

@define-mixin large {
	@media (min-width: 1200px){
		@mixin-content;
	}
}
@define-mixin clearfix{
	
}

.row{
	max-width: 1200px;
	margin: 0 auto;
	zoom: 1;
	&::after {
    content: ' ';
    clear: both;
    display: table;
    height: 0;
    visibility: hidden;
	}
	& >  div{
		padding-right: 0;
		@add-mixin small{
			
			padding-right: 40px;
		}
	}
	& >  div > div{
		padding-right: 0;
		@add-mixin small{
			
			padding-right: 40px;
		}
	}
	
	@add-mixin medium{
		.columns{
			width: 100%;
		}
		.md-6{
			float: left;
			width: 50%;
		}
		.md-4{
			float: left;
			width: 33.33%;
		}
		
		.md-8{
			float: left;
			width: 66.66%;
		}
	}
}