*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  font-family: 'Roboto', sans-serif;
  color: $light-black;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: #555555; 
}
img{
  max-width: 100%;
  height: auto;
}



.wrapper{
	padding-left: 10px;
	padding-right: 10px;
}

