.btn{
	background-color: $light-blue;
	color: $white;
	text-decoration: none;
	display: inline-block;
	padding: .75rem 1.2rem;
	
	&--orange{
		background-color: $mainOrange;
	}
	&-large{
		padding: 1.0rem 1.6rem;
		@add-mixin small{
	      font-size: 1.25rem;
	      padding: 1.1rem 1.9rem;
      }
	}
}