.large-hero{
  position: relative;
  padding: 0;
  &:after {
    display: block;
    height: 10px;
    background-color: $light-blue;
    content: " ";
    width: 100%;
    //margin-top: -4px;
  }
  
  a{
	  color: $white;
  }
  ._image{
	  display: block;
  }
  &__text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    ._title{
      font-size: 2.7rem;
      font-weight: 300;
      color: $light-blue;
      margin: 0;
      @add-mixin small {
	      font-size: 4.8rem;
      }
      
    }
    ._subtitle{
      font-size: 1.5rem;
      font-weight: 300;
      color: $light-blue;
      margin: 0;
      @add-mixin small{
	      font-size: 2.9rem;
      }
    }
    ._description{
      color: $white;
      font-size: 1.1rem;
      font-weight: 100;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
      max-width: 26.6rem;
      margin: 1.2rem auto;
      @add-mixin small{
	      font-size: 1.9rem;
      }
    }
  }
}
.our-beginning{
	.midle{
		margin: 0 auto;
		max-width: 976px;
	}
}

.generic-content{
	
	.b-mrgn{
		margin-bottom: 1.6em;
	}
	.small{
		font-size: 1.3rem;
		@add-mixin small{
			font-size: 1.875rem
		}
		
	}
	
}
p{
	//font-size: 0.9rem;
	font-weight: 300;
	@add-mixin small{
		font-size: 1.125rem;
	}
	a{
		font-weight: 700;
		color: $mainOrange;
	}
	
}
