.site-header{
  padding: 10px 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  transition: background-color .3s ease-out;
  @add-mixin medium {
    position: fixed;
    background: rgba($light-blue, .3); 
    &.sticky{
      background-color: rgba(23, 51, 72, .85);
      .logo{
        transform: scale(.57);
      }
    }
  }
  .logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    //transition: transform .3s ease-out;
    transition: all .4s ease-out;
    background: $light-blue;
    padding: 25px 35px;
    @add-mixin medium{
      left: auto;
      transform: translateX(0);
    }
  }
  
  .logo_txt{
    text-indent: -9999px;
  }
}

.expanded{
  background-color: rgba($light-blue, .55%);
}