.modal{
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, .50);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.2);
  transition: all .3s ease-out;
  

  &.m-visible{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .inner{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .60);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    @add-mixin small{
      width: 800px;
      height: 500px;
      margin: 0 auto;
      padding-bottom: 0;
    }

    
    .desc{
      line-height: 1.65rem;
    }

    ._title{
      font-size: 2.7rem;
      padding-bottom: 6px;
      @add-mixin small{
        font-size: 3.75rem;
        margin-top: 10%;
      }
      ._icon{
        margin: .6rem auto;
        width: 3.5rem;
        display: block;
     
        @add-mixin small{
          position: relative;
          top: 15px;
          margin-right: .5em;
          margin-left: 0;
          display: inline-block;
          font-size: 3.75rem;
          font-weight: 300;
          ._icon{
            width: 3.85rem;
          }
        }
      }
    }
    .c-modal{
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1.5rem;
      transform: scaleX(1.2);
      transform-origin: 100% 0;
      cursor: pointer;
      color: #D3D3D3;

      &:hover{
        color: $mainOrange;
      }
    }
  }
}